.gt-about-wrapper {
    padding: 60px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    z-index: 9;
    box-shadow: 0 4px 60px 0 rgba(160, 234, 113, 0.40);


    @include breakpoint (max-xl){
       padding: 50px 40px;
    }

    @include breakpoint (max-md){
       padding: 40px 30px;
    }

    @include breakpoint (max-sm){
       padding: 30px 20px;
    }

    .shape-1 {
        position: absolute;
        top: 0;
        left: 33%;
        z-index: -1;
    }

    .bg-shape {
        position: absolute;
        bottom: 0;
        left: -30px;

        @include breakpoint (max-xl){
          display: none;
        }
    }

    .gt-about-image {
        position: absolute;
        left: 60px;
        bottom: 0px;
        max-width: 640px;

        @include breakpoint (max-xl){
            position: static;
        }

        img {
            @include imgw;
        }
    }

    .about-bg {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        z-index: -1;

        img {
            @include imgw;
        }
    }

    .gt-about-content {
        margin-left: 15px;
        position: relative;
        z-index: 9;

        @include breakpoint (max-xl){
         margin-left: 0;
        }

        .gt-about-text {
            font-size: 16px;
            font-weight: 600;
            color: $gt-header-color-2;
            max-width: 575px;
            margin-top: 5px;
            border-bottom: 1px solid #0E0E0C;
            padding-bottom: 30px;
        }

        .gt-about-list {
            margin-top: 30px;
            margin-bottom: 40px;

            li {
                font-size: 16px;
                font-weight: 500;
                color: $gt-header-color-2;

                i {
                    margin-right: 8px;
                }

                &:not(:last-child){
                    margin-bottom: 10px;
                }
            }
        }

        .gt-theme-btn {
            height: 48px;
            line-height: 48px;
            padding: 0 30px;
            &::before {
                background-color: $gt-white;
            }
        }
    }
}

.gt-about-wrapper-3 {
    border-top: 1px solid rgba(104, 104, 102, 0.20);
    margin-top: 65px;
    position: relative;

    .clicp-shape {
        position: absolute;
        left: 55%;
        top: 16%;

        @include breakpoint (max-xxl){
            display: none;
        }
    }

    .gt-about-content {
        max-width: 650px;
        .gt-text {
            color: $gt-text-color-2;
            margin-top: 25px;
        }

        .gt-list-items {
            margin-top: 35px;
            position: relative;

            &::before {
                position: absolute;
                top: 0;
                left: 3px;
                content: "";
                width: 1px;
                height: 100%;
                background-color: rgba(104, 104, 102, 0.20);
            }

            li {
                display: flex;
                gap: 14px;

                &:not(:last-child){
                    margin-bottom: 35px;
                }

                .gt-circle-box {
                    width: 11px;
                    height: 11px;
                    border-radius: 11px;
                    background-color: $gt-white;
                    display: inline-block;
                    position: relative;

                    &::before {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        content: "";
                        width: 5px;
                        height: 5px;
                        border-radius: 5px;
                        background-color: $gt-theme-color-3;
                    }
                }

                .gt-content {
                    h4 {
                        color: $gt-header-color-3;
                        font-family: $gt-heading-font-3;
                        font-size: 20px;
                        font-weight: 700;
                        margin-bottom: 10px;
                    }

                    span {
                        color: #686866;
                    }
                }
            }
        }
    }

    .gt-about-image {
        text-align: right;
        position: relative;
        z-index: 9;
        width: 691px;
        height: 692px;
        line-height: 692px;
        border-radius: 50%;
        background-color: #C2D0FF;
        overflow: hidden;

        @include breakpoint (max-xxl){
            width: 540px;
            height: 540px;
            line-height: 540px;
        }

        @include breakpoint (max-xl){
            width: initial;
            height: initial;
            background-color: transparent;
            line-height: initial;

            img {
                @include imgw;
            }
        }

        // &::before {
           
        //     position: absolute;
        //     top: 50%;
        //     left: 50%;
        //     content: "";
        //     transform: translate(-50%,-50%);
        // }
       

        .crm-image {
           position: relative;
           z-index: 1;
           padding-top: 15px;
        }
    }
}

.gt-about-section-2 {
    position: relative;
    z-index: 8;

     .dot-circle-1 {
        position: absolute;
        top: 40%;
        left: 55px;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        display: inline-block;
        background-color: #A0EA71;
        z-index: -1;
    }

    .dot-circle-2 {
        position: absolute;
       bottom: 15%;
        left: 100px;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        display: inline-block;
        background-color: #5FFE8F;
        z-index: -1;
    }

     .dot-circle-3 {
        position: absolute;
        top: 30%;
        right: 100px;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        display: inline-block;
        background-color: #EA4BFF;
        z-index: -1;
    }

    .dot-circle-4 {
        position: absolute;
        bottom: 8%;
        right: 18%;
        width: 6px;
        height: 6px;
        border-radius: 6px;
        display: inline-block;
        background-color: #6B41FF;
        z-index: -1;
    }
}

.gt-app-benefit-wrapper-4 {
    position: relative;
    .circle-app {
        width: 88px;
        height: 88px;
        border-radius: 50%;
        background-color: #7444FD;
        position: absolute;
        top: 80px;
        left: -70px;

        @include breakpoint (max-xl){
            display: none;
        }
    }
    .gt-app-image {
        position: relative;
        z-index: 9;

        .app-logo {
            position: absolute;
            bottom: 90px;
            left: 192px;

            @include breakpoint (max-xl){
                display: none;
            }


            img {
                width: initial;
                height: initial;
            }
        }

        img {
            @include imgw;
        }
    }

    .gt-app-content {
        margin-left: 30px;

        @include breakpoint (max-xl){
            margin-left: 0;
        }

        .gt-app-text {
            margin-top: 25px;
            color: $gt-header-color-3;
            max-width: 690px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.20);
            padding-bottom: 30px;
        }

        ul {
            margin-top: 30px;

            li {
                background-color: $gt-white;
                
                &:not(:last-child){
                    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
                    padding-bottom: 30px;
                    margin-bottom: 30px;
                }

                .icon {
                    width: 60px;
                    height: 60px;
                    line-height: 60px;
                    border-radius: 50%;
                    background: #E77096;
                    text-align: center;
                    margin-bottom: 30px;
                    @include transition;
                }

                .content {
                    h3 {
                        font-family: $gt-heading-font-4;
                        color: $gt-header-color-3;
                        margin-bottom: 15px;
                    }

                    p {
                        color: $gt-header-color-3;
                    }
                }

                &:hover {
                    .icon {
                         background-color: $gt-theme-color-4;
                    }
                }
            }
        }
    }
}

.about-section-5 {
    background-repeat: no-repeat;
    position: relative;

    @include breakpoint (max-xl4){
       background-color: #F6F3FE;
    }

    .brand-wrapper-5 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        z-index: 9;
        max-width: 1200px;

        @include breakpoint (max-xl4){
            max-width: initial;
            position: static;
            transform: initial;
            margin-bottom: 120px;
        }

        @include breakpoint (max-xl){
            margin-bottom: 100px;
        }

        @include breakpoint (max-lg){
            margin-bottom: 80px;
        }

        .brand-title {
            text-align: center;
            margin-bottom: 30px;
            position: relative;
            color: $gt-header-color-3;
            font-family: $gt-heading-font-5;
            font-weight: 500;

            &::before {
                position: absolute;
                top: 15px;
                left: 5%;
                content: "";
                height: 1px;
                width: 413px;
                background-color: #E5E5E5;
    
                @include breakpoint (max-xxl){
                    display: none;
                }
            }
    
            &::after {
                position: absolute;
                top: 15px;
                right: 5%;
                content: "";
                height: 1px;
                width: 413px;
                background-color: #E5E5E5;
    
                @include breakpoint (max-xxl){
                    display: none;
                }
            }
        }
    }

    .left-shape {
        position: absolute;
        bottom: 0;
        left: 0;

        @include breakpoint (max-xxl){
            display: none;
        }
    }
}

.about-wrapper-5 {
    margin-top: 155px;

    @include breakpoint (max-xl4){
      margin-top: 0;
    }

    .about-image {
        position: relative;
        text-align: center;
        z-index: 2;

        @include breakpoint (max-sm){
            max-width: 400px;

            img {
                @include imgw;
                object-fit: cover;
            }
        }

        .bg-shape {
            position: absolute;
            bottom: 0;;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;

            @include breakpoint (max-sm){
                img {
                    @include imgw;
                }
            }
        }

        .grap-shape {
            position: absolute;
            bottom: 40px;
            left: 35px;

            @include breakpoint (max-sm){
                display: none;
            }
        }

        .box-shape {
            position: absolute;
            right: 25px;
            top: 32%;
            @include breakpoint (max-sm){
                display: none;
            }
        }

        .emoji-shape {
            position: absolute;
            top: 20%;
            left: 164px;
            animation: bounce-x 7s infinite linear;

            @include breakpoint (max-sm){
                display: none;
            }
        }
    }

    .about-content {
        margin-left: 10px;

        p {
            color: $gt-text-color-2
        }

       .circle-progress-bar-wrapper {
            @include flex;
            gap: 30px;
            margin-top: 50px;
            flex-wrap: wrap;
            margin-bottom: 30px;

            @include breakpoint (max-xxl){
                gap: 30px;
            }

            @include breakpoint (max-lg){
                margin-top: 40px;
                gap: 70px;
            }

            @include breakpoint (max-lg){
                gap: 20px;
            }

            @include breakpoint (max-sm){
                margin-top: 30px;
                flex-wrap: wrap;
                gap: 10px;
            }
           
            .single-circle-bar{
                @include flex;
                gap: 10px;
                
                span {
                    font-size: 16px;
                    line-height: 1;
                    font-weight: 700;
                }
                .content{
                    h6{
                        display: block;
                        margin-bottom: 0;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 135%;
                         color: $gt-header-color-3;
                         font-family: $gt-heading-font-5
                    }

                    br {
                        @include breakpoint (max-sm){
                            display: block;
                        }
                    }
                }
                .circle-bar {
                    position: relative;
                    height: 120px;
                    width: 120px;
                }
                    
                .circle-bar div {
                    position: absolute;
                    height: 100px;
                    width: 100px;
                    border-radius: 50%;
                }
                    
                .circle-bar div span {
                    position: absolute;
                    font-size: 20px;
                    line-height: 92px;
                    height: 90px;
                    width: 90px;
                    left: 5px;
                    top: 5px;
                    font-weight: 600;
                    text-align: center;
                    border-radius: 50%;
                    background-color: #DFE2FF ;
                    color: $gt-header-color-3;
                }
                    
                .circle-bar .background {
                    background-color: #DFE2FF !important;
                }
                
                .circle-bar .rotate {
                    clip: rect(0 50px 100px 0);
                    background-color: $gt-theme-color !important;
                }
                
                .circle-bar .left {
                    clip: rect(0 50px 100px 0);
                    opacity: 1;
                    background-color: #DFE2FF !important;
                }
                
                .circle-bar .right {
                    clip: rect(0 50px 100px 0);
                    -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
                    opacity: 0;
                    background-color: $gt-theme-color !important;
                }
            }
        }
    }
}




