.service-box-items-5 {
    margin-top: 30px;
    display: flex;
    gap: 17px;
    padding: 40px 20px;
    position: relative;
    border: 1px solid #E5E5E5;
    border-radius: 20px;

    .content {
        h4 {
            margin-bottom: 5px;
            font-family: $gt-heading-font-5;
            font-weight: 600;
            font-size: 22px;

            a {
                color: $gt-header-color-3;
                &:hover {
                    color: $gt-theme-color-5;
                }
            }
        }

        p {
            margin-bottom: 5px;
            color: $gt-text-color-2;
        }

        .arrow-btn {
           display: inline-block;
           width: 40px;
           height: 40px;
           line-height: 40px;
           text-align: center;
           border-radius: 50%;
           background-color: $gt-theme-color-5;
           color: $gt-white;
           margin-top: 15px;

           &:hover {
            background-color: $gt-header-color-3;
           }
        }
    }
}

.service-section {
    position: relative;

    .left-shape {
        position: absolute;
        bottom: 100px;
        left: 0;

        @include breakpoint (max-xl4){
            display: none;
        }
    }

    .right-shape {
        position: absolute;
        top: 25%;
        right: 50px;
        animation: bounce-x 7s infinite linear;

        @include breakpoint (max-xl4){
            display: none;
        }
    }

    .bg-shape {
        position: absolute;
        top: 9px;
        right: 0;
        z-index: -1;

        @include breakpoint (max-xl){
            display: none;
        }
    }

    .bg-shape-2 {
        position: absolute;
        top: 15%;
        right: 0;
    }

    .right-shape-3 {
        position: absolute;
        bottom: 0;
        right: 0;

        @include breakpoint (max-xxl){
            display: none;
        }
    }
}

.service-details-wrapper {

    .details-image {
        margin-bottom: 50px;

        img {
            @include imgw;
            border-radius: 20px;
        }
    }

    .main-sidebar {

        .single-sidebar-widget {
            padding: 40px 30px;
            margin-bottom: 30px;
            border-radius: 10px;
    
            .wid-title {
                margin-bottom: 25px;
    
                h4 {
                    position: relative;
                    padding-bottom: 15px;
                    display: inline-block;
                    font-weight: 700;
                    font-family: $gt-heading-font-3;
    
                    &::after {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 20px;
                        height: 2px;
                        content: "";
                        background-color: $gt-theme-color;
                    }
    
                    &::before {
                        position: absolute;
                        bottom: 0;
                        left: 30px;
                        width: 63px;
                        height: 2px;
                        content: "";
                        background-color: $gt-theme-color;
                    }
                }
            }
    
            .service-widget-categories {
                ul {
                   

                    li {
                        @include flex;
                        justify-content: space-between;
                        padding: 19px 25px;
                        border-radius: 10px;
                        border-radius: 20px;
                        font-weight: 500;
                        @include transition;
                        border-radius: 6px;
                        font-size: 16px;
                        line-height: 1;
                        border: 1px solid rgba(155, 160, 163, 0.2);
    
                        a {
                            color: $gt-header-color-3;
                        }
    
                        span {
                            @include transition;
                            color: $gt-header-color-3;
                        }
    
                        &:not(:last-child){
                            margin-bottom: 12px;
                        }
    
                        &:hover {
                            background-color: $gt-theme-color;
    
                            a {
                                color: $gt-white;
                            }
    
                            span {
                                color: $gt-white;
                            }
                        }
    
    
                        &.active {
                            background-color: $gt-theme-color;
    
                            a {
                                color: $gt-white;
                            }
    
                            span {
                                color: $gt-white;
                            }
                        }
                    }
                }
            }
        }
    }

    .service-details-content {

        h3 {
            font-size: 30px;
            font-weight: 700;
            font-family: $gt-heading-font-3;
            font-size: 30px;
            margin-bottom: 20px;
            color: $gt-header-color-3;
        }

        .thumb {
            margin-bottom: 40px;

            img {
                @include imgw;
                border-radius: 20px;
            }
        }

        .details-list-items {
            margin-top: 30px;
            @include flex;
            gap: 100px;

            @include breakpoint (max-xl){
                flex-wrap: wrap;
                gap: 30px;
            }

            .details-list {

                li {
                    font-weight: 500;
                    font-size: 16px;
                   color: $gt-header-color-3;
    
                    &:not(:last-child){
                        margin-bottom: 15px;
                    }
    
                    i {
                        color: $gt-theme-color;
                        margin-right: 8px;
                    }
                }
            }
        }
    }
}

.service-single-card {
    padding: 35px;
    border: 1px solid #E5E5E5;
    border-radius: 20px;

    .content {
        margin-top: 20px;

        h3 {
            margin-bottom: 12px;

            a {
                color: $gt-header-color-3;
                font-family: $gt-heading-font-3;

                &:hover {
                    color: $gt-theme-color-5;
                }
            }
        }

        .arrow-btn {
           display: inline-block;
           width: 40px;
           height: 40px;
           line-height: 40px;
           text-align: center;
           border-radius: 50%;
           background-color: $gt-theme-color-5;
           color: $gt-white;
           margin-top: 30px;

           &:hover {
            background-color: $gt-header-color-3;
           }
        }
    }
}