.gt-testimonial-box-items11 {
    border-radius: 10px;
    background: #ECEDEA;
    padding: 30px;
    margin-top: 30px;
    @include transition;
    position: relative;
    z-index: 99;

    .gt-quote-icon {
        width: 68px;
        height: 68px;
        line-height: 68px;
        text-align: center;
        border-radius: 50%;
        background: linear-gradient(180deg, #A0EA71 0%, rgba(160, 234, 113, 0.00) 100%);
        margin-bottom: 30px;

        img {
            @include transition;
        }
    }

    p {
        font-size: 18px;
        font-family: $gt-heading-font-2;
        font-weight: 600;
        text-transform: capitalize;
        color: $gt-header-color-2;
        line-height: 155%;
    }

    .client-info {
        border-radius: 100px;
        background: #173401;
        @include flex;
        padding: 11px 22px;
        line-height: 1;
        margin-top: 28px;
        gap: 12px;

        @include breakpoint (max-xl){
           flex-wrap: wrap;
        }

        h5 {
            font-size: 16px;
            font-family: $gt-heading-font-2;
            font-weight: 600;
            color: $gt-theme-color-2;   
            text-transform: capitalize;
            border-right: 1px solid $gt-theme-color-2;
            padding-right: 12px;

            @include breakpoint (max-xl){
                border-right: none;
                padding-right: 0;
            }
        }

        span {
            font-size: 14px;
            color: #ECEDEA;
            text-transform: capitalize;
            font-weight: 400;
        }
    }

    &:hover {
        background-color: $gt-theme-color-2;

            .gt-quote-icon {
                background: linear-gradient(180deg, #173401 0%, rgba(23, 52, 1, 0.00) 100%);

                img {
                     filter: brightness(0) invert(1);
                }
            }

            p {
              
                color: $gt-header-color-2;
            }

            .client-info {
                background: #173401;

                h5 {
                    color: $gt-theme-color-2;   
                }

                span {
                    color: #ECEDEA;
                }
            }
    }
}

.gt-testimonial-slider {
    margin-right: -38%;

    @include breakpoint (max-lg){
       margin-right: 0;
    }

    //  .swiper-slide.swiper-slide-active{
    //    .gt-testimonial-box-items {
    //        background-color: $gt-theme-color-2;

    //         .gt-quote-icon {
    //             background: linear-gradient(180deg, #173401 0%, rgba(23, 52, 1, 0.00) 100%);

    //         }

    //         p {
    //             font-size: 18px;
    //             font-family: $gt-heading-font-2;
    //             font-weight: 600;
    //             text-transform: capitalize;
    //             color: $gt-header-color-2;
    //             line-height: 155%;
    //         }

    //         .client-info {
    //             border-radius: 100px;
    //             background: #173401;
    //             @include flex;
    //             justify-content: space-between;
    //             padding: 11px 22px;
    //             line-height: 1;
    //             margin-top: 28px;

    //             h5 {
    //                 font-size: 18px;
    //                 font-family: $gt-heading-font-2;
    //                 font-weight: 600;
    //                 color: $gt-theme-color-2;   
    //                 text-transform: capitalize;
    //             }

    //             span {
    //                 font-size: 14px;
    //                 color: #ECEDEA;
    //                 text-transform: capitalize;
    //             }
    //         }
    //     }
    // }
}

.gt-testimonial-section {
    position: relative;
    z-index: 9;

    .gt-section-title-area {
        .testimonial-top-right {
           @include flex;
           gap: 120px;

           @include breakpoint (max-xxl){
                flex-wrap: wrap;
                gap: 30px;
           }
        }
    }
}

.gt-testimonial-section-3 {
    margin: 120px 60px;
    margin-bottom: 0;
    border-radius: 20px;

    @include breakpoint (max-xxl){
        margin-left: 40px;
        margin-right: 40px;
    }

    @include breakpoint (max-xl){
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    @include breakpoint (max-sm){
      margin-top: 80px;
      margin-bottom: 80px;
    }

    @include breakpoint (max-sm){
       margin-left: 25px;
       margin-right: 25px;
    }

     @include breakpoint (max-xxs){
        margin-left: 20px;
        margin-right: 20px;
    }
}

.gt-flag-items {
    .gt-flag-thumb {
        margin-top: 30px;
        position: relative;
        @include transition;
        width: 120px;
        height: 120px;

        &::before {
            @include before;
            background-color: rgba(5, 17, 26, 0.80);
            border-radius: 50%;
            @include transition;
            opacity: 0;
            visibility: hidden;
        }

        &::after {
            @include before;
            border: 5px solid $gt-white;
            border-radius: 50%;
            @include transition;
             opacity: 0;
            visibility: hidden;
        }

        img {
           @include imgw;
           border-radius: 50%;
        }

        .country-name {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
            z-index: 2;
             @include transition;
             opacity: 0;
            visibility: hidden;

            h4 {
                font-size: 14px;
                font-weight: 800;
                font-family: $gt-heading-font-3;
                text-transform: capitalize;
                text-align: center;
            }
        }

         &:hover {
            &::before {
                opacity: 1;
                visibility: visible;
            }

            &::after {
                opacity: 1;
                visibility: visible;
            }

            .country-name {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.gt-flag-box {
    margin-top: 30px;
    @include flex;
    justify-content: space-between;
    border-radius: 0px 100px 100px 0px;
    background: $gt-theme-color-3;
    padding: 15px;
    position: relative;

    @include breakpoint (max-md){
       flex-wrap: wrap;
       gap: 15px;
       border-radius: 0;
    }

    &::before {
        position: absolute;
        left: -100%;
        width: 100%;
        height: 100%;
        top: 0;
        content: "";
         background: $gt-theme-color-3;

         @include breakpoint (max-md){
           display: none;
        }
    }

    .arrow-box {
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        line-height: 100px;
        background-color: $gt-white;
        color: $gt-theme-color-3;
        font-size: 40px;

    }

    .info-content {
        @include flex;
        gap: 16px;
            @include breakpoint (max-md){
        flex-wrap: wrap;
        gap: 15px;
        }
    }

    p {
        color: $gt-white;
        font-weight: 600;
        font-size: 16px;
    }
}

.gt-testimonial-box-items-3 {
    border-radius: 10px 10px 0px 0px;
    border: 2px solid #A0EA71;
    background: #05111A;
    padding: 40px;
    border-bottom: none;
    position: relative;
    z-index: 9;

    &::before {
        position: absolute;
        bottom: -20%;
        right: -10%;
        content: "";
        width: 408px;
        height: 408px;
        border-radius: 408px;
        background: #EA4BFF;
        filter: blur(162px);
        z-index: -1;
    }

    h6 {
        font-weight: 500;
        font-family: Manrope;
        border-bottom: 1px solid rgba(255, 255, 255, 0.20);
        padding-bottom: 30px;

        span {
            font-size: 14px;
            font-family: $gt-body-font;
        }
    }

    p {
        font-size: 18px;
        font-style: italic;
        font-weight: 500;
        color: $gt-white;
        line-height: 156%;
        margin-top: 30px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.20);
        padding-bottom: 30px;
    }

    .gt-client-info {
        margin-top: 40px;
        @include flex;
        gap: 30px;

        .quote-icon {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background: linear-gradient(180deg, rgba(18, 74, 255, 0.25) 0%, rgba(255, 255, 255, 0.00) 100%);
            text-align: center;
            line-height: 100px;
        }
    }
}


.testimonial-box-items-5 {
    margin-top: 30px;
    padding: 40px 30px;
    position: relative;
    z-index: 1;
    @include flex;
    padding-left: 0;
    gap: 30px;
    position: relative;

    @include breakpoint (max-xxs){
        flex-wrap: wrap;
        gap: 20px;
        padding-left: 30px;
    }

    .icon {
        top: 40px;
        right: 30px;
        position: absolute;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: #F6F3FE;
        border-radius: 16px;
        z-index: -1;
        left: 48px;
        width: calc(100% - 48px);

        @include breakpoint (max-xxs){
            width: calc(100% - 0px);
            left: 0;
        }
    }
    .testimonial-img {
        border: 4px solid $gt-white;
        display: inline-block;
        border-radius: 50%;
        position: relative;
        background-color: $gt-white;
        position: relative;
        z-index: 9;

        .shape-img {
            position: absolute;
            top: 50%;
            left: 72%;
            transform: translate(-50%,-50%);
            z-index: -1;
            
            @include breakpoint (max-xxs){
               display: none;
            }
        }
    }

    .content {
        max-width: 370px;

        .client-info {
            margin-bottom: 10px;

            .star {
                color: #F68B21;
                margin-bottom: 10px;
            }

            h5 {
                font-weight: 600;
                color: $gt-header-color-3;
                font-family: $gt-heading-font-5;
            }
        }

        span {
             color: $gt-text-color-2;
        }

        p {
            font-weight: 500;
            color: $gt-text-color-2;
            font-size: 18px;
        }
    }
}

.testimonial-wrapper-5 {
    .testimonial-left-5 {
        margin-top: 30px;

        .client-img {
            @include flex;
            gap: 15px;
            margin-bottom: 70px;

            .content {
                .star {
                    color: #F68B21;
                }

                p {
                    font-weight: 700;
                }
            }
        }
    }
}

.testimonial-section-5 {
    p {
        color: $gt-text-color-2;
    }

    
}

.gt-testimonial-section-4 {
    border-radius: 40px;
    background: #F3F6FF;
    margin: 0 60px;
    position: relative;

    .gradient-box {
        width: 100%;
        height: 200px;
        background: linear-gradient(180deg, rgba(243, 246, 255, 0) 0%, #F3F6FF 100%);
        position: absolute;
        bottom: 80px;
        left: 0;
        right: 0;
        display: inline-block;
        z-index: 9;
    }

    .gradient-box2 {
        width: 100%;
        height: 200px;
       background: linear-gradient(0deg, #F3F6FF 0%, rgba(243, 246, 255, 0) 100%);
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        display: inline-block;
        z-index: 9;
    }

    @keyframes marqueeY {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-100%);
        }
    }

    @include breakpoint (max-xxxl){
        margin: 0 50px;
    }

    @include breakpoint (max-xxl){
        margin: 0 40px;
    }

    @include breakpoint (max-xl){
        margin: 0 30px;
    }

    @include breakpoint(xl) {
        .height-fixed {
            height: 800px;
        }

        .col-xl-4 {
            transform: translateY(25%);
        }

        .all-item {
            animation: marqueeY 20s linear infinite running;
            animation-direction: alternate;

            &.reverse {
                animation-direction: alternate-reverse;
            }
        }

        .all-item {
            animation: marqueeY 20s linear infinite;
            animation-direction: alternate;

            &.reverse {
                animation-direction: alternate-reverse;
            }
        }
    }
}

.testimonial-single-box {
    background-color: $gt-white;
    padding: 60px 40px;
    border-radius: 14px;
    text-align: center;
    margin-top: 30px;
    position: relative;
    z-index: 99;

    .client-info {
        .info-content {
            margin-top: 20px;
            h3 {
                font-family: $gt-heading-font-4;
                color: $gt-header-color-3;
                font-size: 22px;
            }
        }
    }

    .star {
        color: #F68B21;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    p {
        color: $gt-header-color-3;
        font-size: 18px;
    }
}

.gt-testimonial-wrapper-3 {
    .shape4 {
        position: absolute;
        top: 47%;
        right: 7%;
        z-index: 9;

        @include breakpoint (max-xxl){
            display: none;
        }
    }

}

.gt-testimonial-wrapper-4 {
    border-radius: 32px;
    background: $gt-white;
    box-shadow: 20px 14px 40px 0 rgba(0, 0, 0, 0.08);
    max-width: 1210px;
    margin: 60px auto 0;
    border-top-left-radius: 30px;
    display: flex;
    gap: 40px;
    position: relative;

    
    @include breakpoint (max-xl){
        padding: 24px;
        max-width: initial;
        margin-top: 30px;
        gap: 20px;
    }

    @include breakpoint (max-lg){
          flex-wrap: wrap;
    }

    .thumb {
        max-width: 415px;

        img {
            width: 100%;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
        }
    }

    .content {
        max-width: 686px;
        width: 100%;
        margin-top: 50px;

        @include breakpoint (max-xl){
            margin-top: 0;
        }

        .quote-icon {
            width: 100px;
            height: 100px;
            line-height: 100px;
            text-align: center;
            border-radius: 50%;
            background: linear-gradient(180deg, rgba(18, 74, 255, 0.25) 0%, rgba(255, 255, 255, 0.00) 100%);
            margin-bottom: 25px;
        }

        p {
            font-size: 31px;
            color: #868686;
            font-family: "DM Sans";
            font-style: italic;
            font-size: 31px;
            line-height: 155%;
            font-weight: 600;

            @include breakpoint (max-xl){
                font-size: 24px;
            }

            @include breakpoint (max-md){
                font-size: 22px;
            }

            @include breakpoint (max-sm){
                font-size: 20px;
            }
        }

        h3 {
            font-size: 24px;
            color: $gt-header-color-3;
            font-family: $gt-heading-font-4;
            margin-top: 40px;
        }
    }
}

.gt-software-app-slider {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.dot-bullet {
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.dot-bullet.active {
    background: #000;
}

